@font-face {
  font-family: 'Cursed Timer ULiL';
  src: url('fonts/cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf');
  src: url('fonts/cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf') format('truetype');
}

body {
    margin: 0;
    background: #111827;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    color: #F94F6D;
}

.home-container, .guest-container {
    min-width: 200px;
    max-width: 200px;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

.home-score, .guest-score {
    display: flex;
    justify-content: center;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    background: #080001;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px 0 25px; 
}

.home-increment, .guest-increment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 9px;
    text-align: center;
    min-width: 155px;
}

.home-increment > button, .guest-increment > button {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    min-width: 45px;
    min-height: 45px;
    background: transparent;
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #9AABD8;
}

.home-increment > button:hover, .guest-increment > button:hover {
    cursor: pointer;
    color: greenyellow;
    border: 2px solid greenyellow;
}

#local-time {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    color: white;
}

.timer, .new-game {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-top: 2px solid #4663A1;
    padding-top: 3rem;
}

.timer-buttons > button {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    background: #4984B6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
}

.timer-buttons > button:hover {
    cursor: pointer;
    background: transparent;
}

#timer-display {
    color: white;
    margin-bottom: 2rem;
}

#newGameButton {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    background: #111827;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem;
    max-width: 300px;
}

#newGameButton:hover {
    cursor: pointer;
    background: #B45309;
}

#text-confirmation {
    color: white;
    margin-top: 3rem;
}